################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/LexicalAnalysis/FileContentIndex/b712f037-acf1-493b-a36b-92ce6d529b4c.vsidx
